:root {
  --primary-color: #fff836;
  --secondary-color: #3d7dca;
  --white: white;
  --black: black;
  --font-id: 3.5rem;
  --font-xxl: 3rem;
}

body {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  transition: background-image 0.5s ease;
}

@keyframes changeBackground {
  0% {
    background-image: url("./assets/app_bg.jpg");
  }
  30% {
    background-image: url("./assets/app_bg_2.jpg");
  }
  60% {
    background-image: url("./assets/app_bg_3.jpg");
  }
  90% {
    background-image: url("./assets/app_bg_4.jpg");
  }

  100% {
    background-image: url("./assets/app_bg.jpg");
  }
}

body {
  animation: changeBackground 35s infinite;
}

#root {
  background-color: #00000099;
  width: 100%;
  min-height: 100vh;
}

/* Definición de colores para cada tipo */
.normal {
  background-color: #a8a878;
}

.fighting {
  background-color: #c03028;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.rock {
  background-color: #b8a038;
}

.bug {
  background-color: #a8b820;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.grass {
  background-color: #78c850;
}

.electric {
  background-color: #f8d030;
}

.psychic {
  background-color: #f85888;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.fairy {
  background-color: #ee99ac;
}

.unknown {
  background-color: #68a090;
}

.shadow {
  background-color: #000000;
}
